/* CSS SETUP START – ne rien modifier ici, éditez plus bas */
body { margin: 0; padding: 0; border: 0; }
ul { list-style: none; padding: 0; margin: 0; height: 100px; }
li { background-color: #073b4c; text-align: center; }
li:nth-of-type(5n+1) { background-color: #ef476f; }
li:nth-of-type(5n+2) { background-color: #ffd166; }
li:nth-of-type(5n+3) { background-color: #06d6a0; }
li:nth-of-type(5n+4) { background-color: #118ab2; }
a { color: white; font-size: 16px; line-height: 50px; text-decoration: none; }
/* CSS SETUP END */

/* Commentez les propriétés CSS des exercices sur lesquels vous ne travaillez pas. Mais surtout ne les effacez pas, je vérifierai le code de chacun des exercices */

/* EXERCICE 3 */
section{
  display:block;
}
