/* CSS SETUP START – ne rien modifier ici, éditez plus bas */
body {
  margin: 0;
  padding: 0;
  border: 0;
}
section {
  min-height: 100vh;
}
div {
  background-color: #073b4c;
}
div:nth-of-type(5n + 1) {
  background-color: #ef476f;
}
div:nth-of-type(5n + 2) {
  background-color: #ffd166;
}
div:nth-of-type(5n + 3) {
  background-color: #06d6a0;
}
div:nth-of-type(5n + 4) {
  background-color: #118ab2;
}
span {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  display: block;
  font-size: 48px;
  height: auto;
  line-height: 3em;
  text-align: center;
  width: 3em;
}
/* CSS SETUP END */

/* EXERCICE 2 */
/* Vous aurez besoin du pseudo-sélecteur "last-child". Faites une petite recherche Google. */
section {
  display: flex;
  flex-flow: column wrap;
  height: 1000px;
}
div {
  display: flex;
  height: 230px;
  width: 30%;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
div:last-child {
  height: 100%;
}
